[AUTHOR]
NAME=Michael Kaufmann
EMAIL=kaufmann-michael@outlook.de

[PLUGIN]
VERSION=1.0
NAME=modbus-proxy
FOLDER=modbus-proxy
TITLE=Modbus-Proxy
WEBSITE=https://wiki.loxberry.de/plugins/modbus-proxy/start

[AUTOUPDATE]
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/blacksun80/LoxBerry-Plugin_Modbus-Proxy/master/release.cfg
PRERELEASECFG=https://raw.githubusercontent.com/blacksun80/LoxBerry-Plugin_Modbus-Proxy/master/prerelease.cfg

[SYSTEM]
REBOOT=false
# LoxBerry 3.0.0 ist das Minimum: modbus-proxy verlangt Python >= 3.9 (LoxBerry 2.x
# basiert auf Debian 10 mit Python 3.7), und erst ab LoxBerry 3.0.0 sucht der
# Installer das Uninstall-Skript per Wildcard (uninstall*), vorher exakt "uninstall".
LB_MINIMUM=3.0.0
LB_MAXIMUM=false
ARCHITECTURE=false
CUSTOM_LOGLEVELS=false
INTERFACE=2.0
