[AUTOUPDATE]
# Diese Datei wird per PRERELEASECFG in plugin.cfg abgefragt, wenn der Nutzer
# automatische Updates inkl. Vorabversionen aktiviert hat. Wird i.d.R.
# automatisch durch den GitHub-Action-Workflow (.github/workflows/release.yml)
# aktualisiert.

VERSION=1.0
ARCHIVEURL=https://github.com/blacksun80/LoxBerry-Plugin_Modbus-Proxy/archive/refs/tags/Modbus-Proxy-V1.0.zip
INFOURL=https://github.com/blacksun80/LoxBerry-Plugin_Modbus-Proxy/releases/tag/Modbus-Proxy-V1.0
